{% extends "base.html" %}

{% block context %}
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
        {% else %}
            <a href="{% url 'auth_login' %}">Login</a>
        {% endif %}
    </div>
    <div>
        {% if not user.is_authenticated %}
            <a href="{% url 'registration_register' %}">Join Now!</a>
        {% endif %}
    </div>
    <p>The Amazing Imager App!</p>
    <div>
    {{ context.random_image }}
    <img src="{{ MEDIA_URL }}{{ context.random_image }}">
    </div>
{% endblock %}