{% extends "base.html" %}
{% block body %}
    {% if user.is_authenticated %}
    {% load photo_extras %}
    <div>
        <h3>Stream View</h3>
        <ul>
            <li>Username: {{ user.username }}</li>
            <li><a href="{% url 'upload_photo' %}">Upload new photo</a></li>
            <li><a href="{% url 'create_album' %}">Create new album</a></li>
            {% for photo in object_list|viewable:user %}
                <li>
                    <h3>Owner: {{ photo.user.username }}</h3>
                    <p>Date uploaded: {{ photo.date_uploaded }}</p>
                    <img src="{{ MEDIA_URL }}{{ photo.picture }}">
                    </li>
                    {% if photo.user = user %}
                        <p><a href="{% url 'edit_photo' photo.pk %}">Edit</a></p>
                    {% endif %}
            {% endfor  %}
        </ul>
    </div>
    {% endif %}
{% endblock %}