{% extends "base.html" %}
{% block context %}
    {% if user.is_authenticated %}
    {% load photo_extras %}
    <div>
        <h1>{{ user.username }}'s Stream View</h1>
        <ul>
            <li>Username: {{ user.username }}</li>
            {% for photo in object_list|viewable:user %}
                <li>
                    <h3>Owner: {{ photo.user.username }}</h3>
                    <p>Date uploaded: {{ photo.date_uploaded }}</p>
                    <img src="{{ MEDIA_URL }}{{ photo.picture }}">
                    </li>
            {% endfor  %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
<h1>Profile Detail View</h1>